<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Travel Planner</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css"> 
</head>
<body>

<div class="container">
    <div class="main-container">
        <!-- Progress Bar -->
        <div class="progress mb-4">
            <div id="progressBar" class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <!-- Step 1: Welcome Screen -->
        <div class="step active" id="step1">
            <div class="header text-center">
                <h1>TripTailor</h1>
                <p>Plan your next adventure effortlessly with this AI-powered tool.</p>
            </div>
            <div class="text-center">
                <button class="btn btn-custom" onclick="nextStep(2)">Begin</button>
            </div>
        </div>

        <!-- Step 2: Trip Description -->
        <div class="step" id="step2">
            <div class="header text-center">
                <h2>Tell about your plans</h2>
            </div>
            <form id="tripForm">
                <div class="form-group">
                    <label for="tripDescription">Describe your trip in details:</label>
                    <textarea class="form-control" id="tripDescription" rows="3" placeholder="We are planning a 3-day family trip to Italy. We would like to do sightseeing in Rome and ..." required></textarea>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-custom" onclick="nextStep(3)">Continue</button>
                </div>
            </form>
        </div>

        <!-- Step 3: Budget and Dates -->
        <div class="step" id="step3">
            <div class="header text-center">
                <h2>Customize Your Trip</h2>
            </div>
            <hr class="form-separator">
            <form>
                <div class="form-group">
                    <label for="budget">What is your approximate budget in EUR?</label>
                    <input type="number" class="form-control" id="budget" placeholder="Enter your budget" required>
                </div>
                <div class="form-group">
                    <label for="people">How many people are travelling?</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-custom-round" type="button" onclick="updatePeopleCount(-1)">-</button>
                        </div>
                        <input type="number" class="form-control text-center" id="people" placeholder="e.g., 2" value="2" required>
                        <div class="input-group-append">
                            <button class="btn btn-custom-round" type="button" onclick="updatePeopleCount(1)">+</button>
                        </div>
                    </div>
                </div>     
                           
                <div class="form-group d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <label for="startDate">Start Date:</label>
                        <input type="date" class="form-control" id="startDate" required>
                    </div>
                    <div class="d-flex flex-column">
                        <label for="endDate">End Date:</label>
                        <input type="date" class="form-control" id="endDate" required>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-custom" id="nextButton" onclick="nextStep(4)">Next</button>
                </div>
            </form>
        </div>

        <!-- Step 4: People and Interests -->
        <div class="step" id="step4">
            <div class="header text-center">
                <h2>And a bit of details</h2>
            </div>
            <hr class="form-separator">
            <form>
                <div class="form-group">
                    <label>What is your trip vibe?</label>
                    <div class="tiles-container">
                        <div class="vibe-tile" data-value="family">Family</div>
                        <div class="vibe-tile" data-value="adventure">Adventure</div>
                        <div class="vibe-tile" data-value="romantic">Romantic</div>
                        <div class="vibe-tile" data-value="cultural">Leisure</div>
                    </div>
                    <input type="hidden" id="vibe" name="vibe" required>
                </div>
                
                <hr class="form-separator">
                
                <div class="form-group">
                    <label>Which activities are you interested in?</label>
                    <div class="tiles-container">
                        <div class="interest-tile" data-value="beach">Beaches</div>
                        <div class="interest-tile" data-value="sightseeing">Sightseeing</div>
                        <div class="interest-tile" data-value="nature">Nature</div>
                        <div class="interest-tile" data-value="history">History</div>
                    </div>
                    <div class="tiles-container second-row">
                        <div class="interest-tile" data-value="nightlife">Nightlife</div>
                        <div class="interest-tile" data-value="food">Food</div>
                        <div class="interest-tile" data-value="shopping">Shopping</div>
                        <div class="interest-tile" data-value="wellness">Wellness</div>
                    </div>
                    <input type="hidden" id="interests" name="interests" required>
                </div>
                
                
                
                
                <div class="text-center">
                    <button type="button" class="btn btn-custom" onclick="nextStep(5)">Next</button>
                </div>
            </form>
        </div>

        <!-- Step 5: Confirmation -->
        <div class="step" id="step5">
            <div class="header text-center">
                <h2>You're All Set!</h2>
                <p>Click below to get your AI-generated travel itinerary.</p>
            </div>
            <div class="text-center">
                <button class="btn btn-custom" onclick="submitForm()">Generate Itinerary</button>
            </div>
        </div>
    </div>
</div>

<!-- Loading Overlay -->
<div id="loadingOverlay" class="overlay">
    <div class="loading-content">
        <div class="spinner"></div>
        <div id="loadingText" class="loading-text">
            <p>Generating Itinerary...</p>
        </div>
    </div>
</div>

<script src="../static/js/index.js"></script>

</body>
</html>
